<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirBnb</title>
</head>
<body>
    <h3>Edit your listing</h3>
    <br>
    <form method="POST" action="/listings/<%= listing._id%>?_method=PUT">

        <input name="Listing[title]" value="<%= listing.title%>" type="text">
        <br>
        <textarea name="Listing[description]"><%= listing.description%></textarea>
        <br>
        <input name="Listing[image]" value="<%= listing.image%>" type="text">
        <br>
        <input name="Listing[price]" value="<%= listing.price%>" type="number">
        <br>
        <input name="Listing[location]" value="<%= listing.location%>" type="text">
        <br>
        <input name="Listing[country]" value="<%= listing.country%>" type="text" >
        <br><br>

        <button>Edit</button>
    </form>
    
</body>
</html>